@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');


.app{
    display: flex;
    background-color: #343541;
}

*{
    /* background-color: #fff; */
    font-family: 'Open Sans', sans-serif;

}
body{
    margin: 0;
    padding: 0;

}


.sidebar{
    display: flex;
    color-scheme: light;
    /* background-color: rgba(86,88,105); */
    background-color: #202123;
    color: rgb(236, 236, 241);
    width: 244px;
    font-size: 14px;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 8px;
    border: 1px solid rgba(86,88,105);
    font-family: 'Open Sans', sans-serif;

    justify-content: space-between;

}

button{
    border: 0.5px solid rgba(255,255,255,0.5);
    background-color: transparent;
    border-radius: 5px;
    padding: 15x;
    height: 46px;
    margin: 10px;
    color: white;
    cursor: pointer;
    padding-left: 12px;


}

nav{
    border-top: 0.5px solid rgba(255,255,255,0.5);
    padding: 15x;

}

.history{
    margin: 10px;
    padding: 10px;
    height: 100px;
}

.history li{
    list-style: none;
    padding: 15px 0px;
    cursor: pointer;
}
.main{
    height: 100vh;
    width: 100%;
    background-color: #343541;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;

}

.info{
    color: rgba(255,255,255,0.5);
    font-size: 0.75rem;
    padding: 10px;

}

.bottom-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container{
    position: relative;
     width: 100%;
     max-width: 650px;

}
input{
    width: 100%;
    border: none;
    color: white;
    font-size: 18px;
    background-color: rgb(255, 255, 255, 0.05);
    padding: 12px 10px;
    /* box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px; */
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

input:focus{
    outline: none;
}

#submit{
    position: absolute;
    bottom: 15px;
    right: 0px;
    cursor: pointer;
    width: 28px;
    height: 24px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#submit:hover{
    background-color: gray;
}